@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fafafa;
    --black:#111;
}

body {
    font: {
        family: "Roboto", sans-serif;
        weight: 400;
        style: normal;
        size: 18px;
    }
    background-color: var(--white);
}

.wrapper {
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
}

.header,
.content,
.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}